$defaultFont: "IBM Plex Mono", monospace;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dcdcdc;
  font-family: $defaultFont;
  font-weight: 400;
}

.page-header {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 3rem;
  padding-top: 0;

  @media (min-width: 768px) {
    display: flex;

    > * {
      margin-right: 2rem;
    }
  }
}

.list {
  max-width: 20rem;

  h2 {
    padding: 1rem;
    text-align: center;
    color: white;
    background-color: #2c2c2c;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style: none;

    li {
      background: white;
      padding: 1rem;
      margin-bottom: 1rem;

      &.done {
        p {
          text-decoration: line-through;
          color: #888;
        }
      }

      p {
        margin-bottom: 1rem;
      }

      button {
        border: 0;
        background: transparent;
        font-family: $defaultFont;

        &.remove {
          color: tomato;
        }

        &.done {
          color: green;
        }
      }
    }
  }
}

.add-task-container {
  width: 100%;
  max-width: 20rem;

  textarea {
    display: block;
    font-family: $defaultFont;
    padding: 1rem;
    width: 100%;
    border: 0;
    height: 8rem;
    margin-bottom: 0.5rem;
  }

  button {
    width: 100%;
    background-color: #4693b7;
    border: 0;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
  }
}
